@using GDA.Domain.Domain
@model Student

<div class="modal fade" id="addStudent">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addEmployeeLabel">Add Employee</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="Create">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input type="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SchoolClass"></label>
                        <input type="SchoolClass" class="form-control"/>
                        <span asp-validation-for="SchoolClass" class="text-danger"></span>
                    </div>
                        <div class="form-group">
                        <label asp-for="ContactNumberMain"></label>
                        <input type="ContactNumberMain" class="form-control"/>
                        <span asp-validation-for="ContactNumberMain" class="text-danger"></span>
                    </div>
                        <div class="form-group">
                        <label asp-for="ContactNumberSecondary"></label>
                        <input type="ContactNumberSecondary" class="form-control"/>
                        <span asp-validation-for="ContactNumberSecondary" class="text-danger"></span>
                    </div>
                        <div class="form-group">
                        <label asp-for="Responsible"></label>
                        <input type="Responsible" class="form-control"/>
                        <span asp-validation-for="Responsible" class="text-danger"></span>
                    </div>
                        <div class="form-group">
                        <label asp-for="BirthDate"></label>
                        <input type="BirthDate" class="form-control"/>
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                        <div class="form-group">
                        <label asp-for="RG"></label>
                        <input type="RG" class="form-control"/>
                        <span asp-validation-for="RG" class="text-danger"></span>
                    </div>
                        <div class="form-group">
                        <label asp-for="CPF"></label>
                        <input type="CPF" class="form-control"/>
                        <span asp-validation-for="CPF" class="text-danger"></span>
                    </div>
                        <div class="form-group">
                        <label asp-for="Email"></label>
                        <input type="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                        <div class="form-group">
                        <label asp-for="Address.CEP"></label>
                        <input type="Address.CEP" class="form-control"/>
                        <span asp-validation-for="Address.CEP" class="text-danger"></span>
                    </div>
                        <div class="form-group">
                        <label asp-for="Address.City"></label>
                        <input type="Address.City" class="form-control"/>
                        <span asp-validation-for="Address.City" class="text-danger"></span>
                    </div>
                        <div class="form-group">
                        <label asp-for="Address.Complement"></label>
                        <input type="Address.Complement" class="form-control"/>
                        <span asp-validation-for="Address.Complement" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.District"></label>
                        <input type="Address.District" class="form-control"/>
                        <span asp-validation-for="Address.District" class="text-danger"></span>
                    </div>
                        <div class="form-group">
                        <label asp-for="Address.Observation"></label>
                        <input type="Address.Observation" class="form-control"/>
                        <span asp-validation-for="Address.Observation" class="text-danger"></span>
                    </div>
                        <div class="form-group">
                        <label asp-for="Address.PublicPlace"></label>
                        <input type="Address.PublicPlace" class="form-control"/>
                        <span asp-validation-for="Address.PublicPlace" class="text-danger"></span>
                    </div>
                        <div class="form-group">
                        <label asp-for="Comments"></label>
                        <input type="Comments" class="form-control"/>
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>