@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2>Ola Aline, seja bem vinda!</h2>
    <h2>No menu acima clique em Estudantes, para acessar a lista de estudantes, por gentileza.</h2>
</div>
