@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ola Aline, seja bem vinda!</h1>
    <h2>No menu acima clique em Estudantes, para acessar a lista de estudantes, por gentileza.</h2>
</div>
